VAULT_PATH="/Users/<username>/Documents/<vault-name>"

NEXT_PUBLIC_DEMO_MODE=false
DEMO_VAULT_PATH="./demo-vault"

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your-project-url.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-key
